/*************************/
///// COMPONENT CODE //////
/*************************/
.embed-code {
    &__copy {
        text-align: center;
    }

    &__textarea {
        background-color: $color-2;
        border: 1px solid $color-1;
        height: 90px;
        margin-bottom: 12px;
        resize: none;
    }
}
