/*
* Common Variables
*/
$color-1: #00090f !default;
$color-2: #fff !default;
$color-3: #246ec3;
$color-4: #e7e7e7;
$color-5: #76bc16;

$font-1: "brandon-grotesque", sans-serif;
$font-2: $font-1;

$res-url: "";
