/*************************/
/////// GENERAL VARS //////
/*************************/
$dialog-backdrop-color: rgba(55, 52, 78, 0.8) !default;
$dialog-content-paddings: (0px 24px 0px 24px) (0px 24px) (40px 155px) !default;
$dialog-background: rgba($color-2, 1) !default;

/*************************/
/////// CUSTOM VARS ///////
/*************************/

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/

.dialog {
    z-index: 100;
    pointer-events: all;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__backdrop {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 105;
        background-color: $dialog-backdrop-color;
    }

    &__wrapper {
        position: relative;
        background-color: $dialog-background;
        z-index: 140;
        overflow: auto;
    }

    &__close-button {
        position: absolute;
        right: 12px;
        top: 12px;
        height: 26px;
        width: 26px;
        i {
            color: $color-1;
            font-size: 26px;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

@include SmallDevice {
    .dialog {
    }
}

@include MediumDevice {
    .dialog {

        &__wrapper {
            max-width: 800px;
            max-height: 550px;
        }

    }
}

/*************************/
/////// CUSTOM CODE ///////
/*************************/

.dialog-service-wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
    display: none;
    &.shown {
        display: block;
    }
}

// .story-dialog-service {
//     position: fixed;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     width: 100%;
//     z-index: 9999;
//     pointer-events: none;
//     &.shown {
//         display: block;
//     }
// }
