/*************************/
/////// CUSTOM VARS ///////
/*************************/
$button-widths: 40px 40px 40px;
$button-heights: 40px 40px 40px;
$icon-font-sizes: 28px 28px 28px;
$icon-colour: $color-3;

/*************************/
///// COMPONENT CODE //////
/*************************/

.social-buttons-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__share-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: nth($button-widths, 1);
        height: nth($button-heights, 1);
        line-height: nth($button-heights, 1);
        margin-right: 0;

        &:last-child {
            margin-right: 0;
        }
        i {
            color: $icon-colour;
            font-size: nth($icon-font-sizes, 1);
        }
        &.embed {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
    }

}

@include MediumDevice {
    .social-buttons-container {

        &__share-button {
            &.embed {
                display: inline-block;
            }
        }
    }
}
