.splash {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__scroll-btn {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        svg {
            width: 20px;
            margin-top: 5px;
            transform: rotate(180deg);
        }
    }
}

@include SmallDevice {
    .splash {
    }
}

@include MediumDevice {
    .splash {
        height: 100vh;
    }
}

@include OnEmbedDevice() {
    .splash {
    }
}
