.pagination {
    width: 100%;
    height: 40px;

    button {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $color-1;
        &:disabled {
            color: rgba($color-1, 0.5);
        }
    }
    i {
        font-size: 40px;
        cursor: pointer;
    }

    &__previous {
        margin: 0 10px 0 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        cursor: pointer;
        padding: 8px;
        &--inner {
            background-color: rgba($color-1, 0.2);
            width: 11px;
            height: 11px;
        }
        &--active {
            div {
                background-color: $color-1;
            }
        }
    }
    &__next {
        margin: 0 0 0 10px;
    }
}

@include SmallDevice {
    .pagination {
    }
}

@include MediumDevice {
    .pagination {
        height: 32px;

        i {
            width: 32px;
            font-size: 32px;
        }

        &__previous {
            width: 37px;
            display: flex;
            justify-content: flex-end;
            &:hover:not([disabled]) {
                i {
                    transition: width 0.1s linear;
                    width: 37px;
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }

        &__next {
            width: 37px;
            display: flex;
            justify-content: flex-start;
            &:hover:not([disabled]) {
                i {
                    transition: width 0.1s linear;
                    width: 37px;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        &__item {
            padding: 9.5px 8px;

            &--inner {
                width: 13px;
                height: 13px;
            }

            &:hover {
                .pagination__item--inner {
                    background-color: rgba($color-1, 0.5);
                }
            }
        }

        .pagination__item--active {
            &:hover {
                .pagination__item--inner {
                    background-color: $color-1;
                }
            }
        }
    }
}

@include OnEmbedDevice() {
    .pagination {
    }
}
