.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

@include SmallDevice {
    .nav-menu {
    }
}

@include MediumDevice {
    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
