.page-section{

}

@include SmallDevice{
    .page-section{
        max-width: 600px;
        margin: auto;
    }
}


@include MediumDevice{
    .page-section{
        max-width: initial;
    }
}

@include OnEmbedDevice(){
    .page-section{

    }
}
