/*************************/
/////// GENERAL VARS //////
/*************************/

$tooltip-widths-gen: 200px 200px 200px;
$background-color: $color-2;
$triangle-widths: 10px 10px 10px;
$text-color: white;

/*************************/
/////// CUSTOM VARS ///////
/*************************/

$tooltip-widths: 40px 40px 40px;

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/
.element-tooltip-container {
    position: relative;
    color: $text-color;
    vertical-align: middle;
    &:focus {
        outline: none;
    }

    hr {
        margin: 0px;
    }
    .element-tooltip-content-container {
        display: none;
        position: absolute;
        width: nth($tooltip-widths-gen, 1);
        height: auto;
        background-color: $background-color;
        color: $text-color;
        vertical-align: middle;
        .shown-element-container {
            display: inline-block;
        }

        a,
        i {
            color: $text-color;
        }
    }

    &.trigger-on-hover:hover {
        & > .element-tooltip-content-container {
            display: block !important;
        }
    }

    &.trigger-on-click[data-visible="true"] {
        & > .element-tooltip-content-container {
            display: block !important;
        }
    }

    &.top-side {
        .element-tooltip-content-container {
            bottom: 100%;
            left: 50%;
            margin-left: -(nth($tooltip-widths-gen, 1) / 2) - 0px;
        }
        &.has-arrow {
            & > .element-tooltip-content-container {
                margin-bottom: 10px;
                &:after {
                    content: " ";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -(nth($triangle-widths, 1)) - 0px;
                    width: 0;
                    height: 0;
                    border-left: nth($triangle-widths, 1) solid transparent;
                    border-right: nth($triangle-widths, 1) solid transparent;
                    border-top: (nth($triangle-widths, 1)) solid $background-color;
                }
            }
        }
    }

    &.bottom-side {
        .element-tooltip-content-container {
            top: 100%;
            left: 50%;
            margin-left: -(nth($tooltip-widths-gen, 1) / 2) - 0px;
        }

        &.has-arrow {
            & > .element-tooltip-content-container {
                margin-top: 10px;
                &:after {
                    content: " ";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -(nth($triangle-widths, 1)) - 0px;
                    width: 0;
                    height: 0;
                    border-left: nth($triangle-widths, 1) solid transparent;
                    border-right: nth($triangle-widths, 1) solid transparent;
                    border-bottom: (nth($triangle-widths, 1)) solid $background-color;
                }
            }
        }
    }

    &.right-side {
        .element-tooltip-content-container {
            top: 50%;
            left: 100%;
            margin-top: -(nth($tooltip-widths-gen, 1) / 2) - 0px;
            height: 40px;
            width: auto;
            margin-left: 0px;
        }

        &.has-arrow {
            & > .element-tooltip-content-container {
                margin-left: 10px;
                &:after {
                    content: " ";
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    margin-top: -(nth($triangle-widths, 1)) - 0px;
                    width: 0;
                    height: 0;
                    border-top: nth($triangle-widths, 1) solid transparent;
                    border-bottom: nth($triangle-widths, 1) solid transparent;
                    border-right: (nth($triangle-widths, 1)) solid $background-color;
                }
            }
        }
    }

    &.left-side {
        .element-tooltip-content-container {
            top: 50%;
            right: 100%;
            margin-top: -(nth($tooltip-widths-gen, 1) / 2) - 0px;
        }

        &.has-arrow {
            & > .element-tooltip-content-container {
                margin-right: 10px;
                &:after {
                    content: " ";
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -(nth($triangle-widths, 1)) - 0px;
                    width: 0;
                    height: 0;
                    border-top: nth($triangle-widths, 1) solid transparent;
                    border-bottom: nth($triangle-widths, 1) solid transparent;
                    border-left: (nth($triangle-widths, 1)) solid $background-color;
                }
            }
        }
    }
}

/*************************/
/////// CUSTOM CODE ///////
/*************************/

.element-tooltip-container {
    &.settings-tooltip {
        display: inline-block;
        width: 40px;
        height: 38px;
        text-align: center;
        line-height: 40px;
        margin: 0px 0px 0px 10px;
        & > i {
            font-size: 40px;
            vertical-align: middle;
        }
    }
}

.element-tooltip-container--dark {
    .element-tooltip-content-container {
        z-index: 99999;
        background-color: $color-1 !important;
        color: $color-2 !important;
        padding: 12px !important;
        width: auto !important;
        min-width: 140px !important;
        border-radius: 4px;
    }
    &.top-side {
        .element-tooltip-content-container {
            margin-left: auto;
            transform: translateX(-50%);
        }
        &.has-arrow {
            .element-tooltip-content-container {
                &:after {
                    border-top: (nth($triangle-widths, 1)) solid $color-1 !important;
                }
            }
        }
    }
    &.bottom-side {
        .element-tooltip-content-container {
            margin-left: auto;
            transform: translateX(-50%);
        }

        &.has-arrow {
            .element-tooltip-content-container {
                &:after {
                    border-bottom: (nth($triangle-widths, 1)) solid $color-1 !important;
                }
            }
        }
    }

    &.left-side {
        .element-tooltip-content-container {
            margin-top: auto;
            transform: translateY(-50%);
        }
        &.has-arrow {
            .element-tooltip-content-container {
                &:after {
                    border-left: (nth($triangle-widths, 1)) solid $color-1 !important;
                }
            }
        }
    }

    &.right-side {
        .element-tooltip-content-container {
            margin-top: auto;
            transform: translateY(-50%);
        }
        &.has-arrow {
            .element-tooltip-content-container {
                &:after {
                    border-right: (nth($triangle-widths, 1)) solid $color-1 !important;
                }
            }
        }
    }
}
