/*************************/
/////// GENERAL VARS //////
/*************************/

$border-style: 1px solid white !default;
$paddings: (0px 13px) (0px 30px);
$label-color: white !default;
$background-color: $color-3 !default;
$bg-hover-color: rgba($color-3, 0.5)!default;
$label-hover-color: white !default;
$btn-widths: auto auto;
$btn-heights: 42px 45px;

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

$btn-font-1: $font-1 !default;
$font-sizes: 15px 15px 15px;

/*************************/
///// COMPONENT CODE //////
/*************************/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: nth($paddings, 1);
    background-color: $background-color;
    border: $border-style;
    text-align: center;
    transition: all 0.2s ease-in;
    width: nth($btn-widths, 1);
    height: nth($btn-heights, 1);
    color: $label-color;
    font-family: $btn-font-1;
    font-size: nth($font-sizes, 1);

    &:hover {
        cursor: pointer;
        color: $label-hover-color;
        background-color: lighten($background-color, 10%);
    }
}

@include MediumDevice {
    .button {
        padding: nth($paddings, 2);
        font-size: nth($font-sizes, 2);
    }
}
